<div class="row" ng-hide="isOnline">
    <div class="col-xs-6 col-xs-offset-3">
        <div>
            <div class="form-group">
                <label for="photos">Photos</label>
                <form>
                    <input type="file" accept="image/*" ng-model="myFile" multiple base-sixty-four-input/>
                </form>
            </div>
            <button ng-click="submit()">Submit</button>
        </div>
    </div>
</div>