<div class="row" ng-hide="isOnline">
    <div class="col-xs-6 col-xs-offset-3">
        <div>
            <div class="form-group">
                <label for="topicName">Topic Name</label>
                <input type="text" class="form-control" ng-model="topicName"/>
            </div>
            <div class="form-group">
                <label for="photos">Photos</label>
                <form>
                    <input type="file" accept="image/*" ng-model="myFile" multiple base-sixty-four-input/>
                </form>
                <p class="help-block">Uploading photos is optional</p>
            </div>
            <button ng-click="create()">Create</button>
        </div>
    </div>
</div>