<!DOCTYPE html>
<html>
    <head>
        <title>myPhotos</title>
        <meta name = "layout" content = "main">
    </head>
    <body>
        <div class = "container-fluid">
            <div class = "col-sm-10 col-sm-offset-1" style = "text-align: center">
                <h1 style = "font-size: 96px">myPhotos</h1>
                <p style = "font-size: 36px">Store all your photos neatly organized by topic.</p>
            </div>

            <div class = "col-sm-4">
                <h3>Offline Support</h3>
                Upload your photos even when you are offline.  Photos uploaded
                when you don't have an internet connection will be saved to your
                device.  When you are online, just submit them to the server
                and they'll appear alongside the other pictures in your collection.
            </div>

            <div class = "col-sm-4">
                <h3>Capacity</h3>
                Store as many or as little photos as you want.  Photos
                of up to 50 MB can be stored so high resolution pictures
                are not a problem.
            </div>

            <div class = "col-sm-4">
                <h3>Mobile Friendly</h3>
                myPhotos plays well with all your devices, wether it's a laptop,
                desktop, tablet or phone.  myPhotos will work exactly the same
                on all of them allowing you to quickly and easily store your pictures.
            </div>
        </div> <!-- Container -->
    </body>
</html>
